<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Uygun Sistem</title>
    
</head>
<body>
    <div class="container">
        <h2>Uygun Sistem</h2> 
        <input class="form-control" id="myInput" type="text" placeholder="Search..">
        <br>
    <table class="table table-bordered" >
        <thead>
        <tr>
            <th>Resim</th>
            <th>İşlemci</th>
            <th>Ekran Kartı</th>
            <th>Depolama</th>
            <th>Ram Bellek</th>
            <th>Fiyat</th>
            <th>Satıcı</th>
        </tr>
        </thead>
        <tbody id="myTable">
        {% for sistem in asc %}
        
        <tr>
            <td><img src={{sistem.img}} width="120" height="120"></td>
            <td>{{sistem.islemci}}</td>
            <td>{{sistem.ekran_karti}}</td>
            <td>{{sistem.depolama}}</td>
            <td>{{sistem.ram}}</td>
            <td>{{sistem.fiyat}}</td>
            <td><a href="{{sistem.url}}" class="card-link">{{sistem.satici}}</a></td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
    <script>
        $(document).ready(function(){
          $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });
    </script>
        
</body>
</html>